body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
COLORS:{
     ACCENT:"#E54065",
     BACKGROUND:"#F4F5F9",
     BORDER:"#CFD2DC",
     TEXT:"#636363",
     FILTERBUTTON:"#E1E4EA",
     READBACKGROUND:"#F2F2F2"
   }*/


:root{
  --ACCENT:"#E54065";
  --BACKGROUND:"#F4F5F9";
  --BORDER:#CFD2DC;
  --TEXT:#636363;
  --FILTERBUTTON:#E1E4EA;
  --READBACKGROUND:#F2F2F2;

}